version: "3.9"

services:
  django:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    container_name: django
    env_file: docker/django/.env
#    expose:
#      - 8000
#    command:
#      -
    ports:
      - "8000:8000"
    networks:
      [ idanpow ]

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    networks:
      [ idanpow ]
    depends_on:
      - django

networks:
  idanpow:
    name: idanpow